@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body {
  font-family: "Roboto"; /*font-['Roboto']*/
  @apply bg-indigo-50 mx-0 overflow-x-hidden;
}

h1 {
  @apply text-4xl font-bold mx-5 leading-tight;
}

h2 {
  @apply text-4xl font-bold w-full text-center;
}

nav img {
  @apply ml-5 mt-5;
}
#lista {
  @apply hidden bg-gray-300 w-full text-white leading-loose list-none text-lg absolute;
}

#lista a {
  @apply no-underline text-gray-500 font-bold;
}

#lista li {
  @apply my-5;
}

nav > a:last-child {
  @apply hidden text-lg no-underline;
}

.active {
  color: blue !important;
}

header {
  @apply mx-7;
}

header div:first-child {
  @apply flex flex-col items-center justify-center text-center;
}

header img:nth-child(2),
header img:nth-child(3) {
  @apply hidden;
}

header p {
  @apply text-lg text-gray-500 mb-10;
}

header a {
  @apply mx-4 my-9 text-lg no-underline;
}

/* header a:first-child { */
.bluebtn {
  @apply bg-blue-800 text-white px-7 py-4;
}

header div:last-child img:first-child {
  @apply max-w-full my-12;
}

#logos {
  @apply grid-cols-2 inline-grid gap-16 w-full mb-16;
}

#logos img {
  @apply mx-auto;
}

#logos img:last-child {
  @apply hidden;
}

.triune {
  @apply mx-7 my-14;
}

.triune div {
  @apply bg-white mb-5 pb-12;
}

#project img {
  @apply w-full max-w-full object-cover max-h-56;
}

.triune h3 {
  @apply px-7 text-2xl;
}

.triune p {
  @apply px-7 pb-6;
}

.triune a {
  @apply px-7 no-underline text-blue-800 font-bold;
}

#testimony {
  background-image: url("img/orbit.png");
  @apply bg-gray-800 px-9 pt-7 pb-4 bg-cover;
}

#testimony > img {
  @apply hidden;
}

#testimony h2 {
  @apply text-white my-12;
}

#profile {
  @apply w-44 m-auto mt-9 mb-14 flex;
}

#profile img {
  @apply rounded-full w-14;
}

#profile h4 {
  @apply ml-4 my-0 text-blue-400 text-base font-normal;
}
#profile h5 {
  @apply ml-4 mt-1 text-white text-sm font-normal;
}
#testimony p {
  @apply text-yellow-400 font-bold text-2xl m-auto w-full text-center;
}

#services img {
  @apply bg-blue-100 p-4 rounded-full mt-9 ml-9;
}

#newletter {
  @apply bg-yellow-400 py-7 px-7;
}
#newletter h2 {
  @apply text-3xl text-gray-800;
}

#newletter p {
  @apply text-center text-gray-500 pb-6;
}

#newletter div {
  @apply w-56 my-6 bg-white h-8 p-3 mx-auto;
}

#newletter input {
  @apply absolute h-6 border-none ml-2;
}
#newletter a {
  @apply block no-underline w-48 text-center mx-auto mb-8;
}

#menu {
  @apply hidden;
}

#menu:checked ~ #lista {
  @apply block;
}

nav label {
  @apply float-right text-xl mt-3 mr-5;
}

#post {
  @apply mx-10;
}

#post img {
  @apply w-full max-h-96 object-cover;
}

#post ~ #project {
  @apply mx-14;
}

footer div:first-child {
  @apply flex flex-col items-center my-5;
}

footer img {
  @apply w-16;
}
footer p {
  @apply text-gray-500 text-lg mx-16 text-center;
}

footer ul {
  column-count: 3;
  @apply text-blue-600 leading-loose list-none list-inside text-base font-bold -ml-4;
}

#contact {
  @apply mx-7;
}
#contact input,
#contact textarea {
  @apply w-4/5 block mb-7 bg-gray-200 h-12 border-none pl-4 mx-7;
}

#contact label {
  @apply text-lg text-gray-500 mx-7;
}
#contact textarea {
  font-family: Roboto;
  @apply h-36 text-sm pt-2;
}
#contact button {
  @apply w-4/5 ml-8 border-none mb-12;
}

/* ***************** */
/* Media for Desktop */
/* ***************** */
@media (min-width: 991px) {
  #lista {
    @apply flex justify-between w-72 bg-transparent relative;
  }
  nav {
    @apply flex flex-row justify-between items-center pr-5 pt-5 mx-10;
  }
  nav img {
    @apply mt-0;
  }
  nav > a:last-child {
    @apply block min-w-max w-12;
  }
  nav label {
    @apply hidden;
  }

  header {
    @apply flex flex-row mx-16;
  }
  header h1 {
    @apply text-6xl text-left leading-snug;
  }
  header p {
    @apply text-left leading-normal ml-7 mr-12;
  }
  header > div:first-child {
    @apply items-baseline;
  }
  header > div:first-child > div {
    @apply flex flex-row-reverse items-center items-end ml-3 mb-12;
  }

  header img:nth-child(1) {
    @apply pr-12;
  }
  header img:nth-child(2) {
    @apply block absolute max-w-xs right-1/4 top-1/4 m-auto;
  }

  header img:nth-child(3) {
    bottom: -40%;
    @apply block absolute max-w-xs left-3/4  m-auto;
  }

  #logos {
    @apply flex flex-row w-11/12 ml-10;
  }
  #logos img:last-child {
    @apply block;
  }
  .triune {
    @apply flex flex-row;
  }
  .triune h2 {
    @apply absolute text-left ml-4;
  }
  .triune div {
    flex: 1;
    @apply mx-4 mt-28;
  }

  #post ~ #project {
    @apply mx-7;
  }

  #testimony {
    @apply py-20;
  }

  #testimony > img {
    @apply block absolute w-40;
  }
  #testimony > img:nth-child(2) {
    @apply right-16;
  }

  #testimony > img:nth-child(5) {
    @apply right-16;
  }
  #testimony p {
    @apply w-1/2 my-24;
  }

  #newletter {
    flex-wrap: wrap;
    @apply flex flex-row;
  }
  #newletter h2,
  #newletter p {
    flex-basis: 100%;
  }
  #newletter div {
    @apply m-0 ml-auto w-1/3;
  }
  #newletter a {
    @apply ml-4;
  }
  footer {
    @apply flex flex-row m-20 justify-between;
  }
  footer div:first-child {
    @apply items-start mx-7;
  }
  footer p {
    @apply text-left mx-0;
  }
  footer ul {
    @apply w-96;
  }
  footer li {
    @apply pt-5;
  }
  #contact {
    @apply ml-28;
  }

  #responsivecontact input {
    @apply w-3/5;
  }
  #responsivecontact {
    flex-basis: 20%;
    @apply flex w-full;
  }
  #responsivecontact > div {
    flex-basis: 50%;
  }
}

/* ***************** */
/*    Panoramico    */
/* ***************** */
@media (min-width: 1400px) {
  body {
    width: 1200px;
    @apply m-auto;
  }
}
